* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* navbar */
#navbar {
  background: #000;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  margin-top: 2%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header {
  background: #29bb89;
}

#header h2 {
  margin-top: 9%;
  margin-bottom: 7%;
}

/* jualan */

#jualan .sign-in a {
  text-decoration: none;
  color: #fff;
  background: rgb(85, 131, 82);
  border: 10px solid rgb(85, 131, 82);
  border-radius: 15px;
  padding: 5px 20px;
}

#jualan .sign-in a:hover {
  padding: 5px 25px;
  border: 10px solid rgb(30, 87, 26);
  background-color: rgb(30, 87, 26);
}

#jualan h2 {
  margin-top: 5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#jualan .gambar img {
  width: 250px;
  margin-left: 4%;
  margin-top: 3%;
  border-radius: 10px;
  border: 10px solid #222;
}

#jualan .gambar p {
  margin-top: 1%;
  font-size: 25px;
}
